body {
  background-image: url(https://imgnooz.com/sites/default/files/wallpaper/abstract/55449/fabric-texture-wallpapers-55449-3246274.png);
}

.container {
  margin-top: 3%;
}
.col-md-6 {
  margin-left: -2%;
}

.top-page-header {
  width: 125%;
  margin-top: 5.3%;
  padding: 1%;
  text-align: center;
  color: #ececb2;
  background-color: #560b079e;
  border-radius: 4px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  font-family: "Lucida Console", Monaco, monospace;
}

.top-page-content{
  color: white;
  font-size: 20px;
  padding-top: 5%;
  width: 123%;
  word-break: normal;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 27px;
  word-spacing: 2px;
  text-align: justify;
}

.side-menu {
    margin: 5% 0% 10% 43%;
    padding: 5%;
    color: #ececb2;
    background-color: #560b079e;
    overflow: hidden;
    border-radius: 2%;
    width: 70%;
    text-align: center;
    line-height: 35px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.avatar {
  border-radius: 50%;
  width:50%;
}

.tagline {
  font-family: "Lucida Console", Monaco, monospace;
}

.social-container {

}

.linkedin-social-icon {
  width: 42%;
  float: left;
  margin-top: 1%;
}

.github-social-icon {
  width: 50%;
 float: right;
}

.middle-container-1 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% 2% 5% 0%;
  float: left;
  border-style: solid;
}

.middle-container-2 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% auto 5% 3%;
  float: left;
  border-style: solid;
}

.middle-container-3 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% auto 5% auto;
  float: right;
  border-style: solid;
}

.middle-pannel-1 {
}

.middle-pannel-2 {
}

.middle-pannel-3 {
}

.middle-pannel-1 .middle-pannel-2 .middle-pannel-3 {
  height: 400px;
}

.middle-container-1 .middle-pannel-1 img {
  margin-top: 6%;
  width: 85%;
}
.middle-container-1 .middle-pannel-1 p {
  text-align: justify;
  padding: 0% 5% 0% 5%;
}

.middle-container-2 .middle-pannel-2 img {
  margin-top: 6%;
  width: 85%;
}

.middle-container-3 .middle-pannel-3 img {
  margin-top: 6%;
  width: 85%;
}

.col-sm-4 .middle-col img {
  margin-top:30%;
}
