body {
  background-image: url(https://imgnooz.com/sites/default/files/wallpaper/abstract/55449/fabric-texture-wallpapers-55449-3246274.png);
  background-blend-mode: luminosity;
  background-size: 55% 40%;
}

.container {
  margin-top: 3%;
}

.top-page-header {
  width: 130%;
  margin-top: 5%;
  text-align: center;
  color: #f7e7c9;
  /* color: #ececb2; */
  background-color: #560b079e;
  border-radius: 4px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 3% 0% 1% 0%;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-width: 1px;
}

.top-page-content{
  color: #f7e7c9;
  margin-left: 0px;
  padding-top: 0%;
  width: 124%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 27px;
  word-spacing: 2px;
  text-align: justify;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-top: none;
  border-width: 4px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 104.9% !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  padding: 1%;
  background-color: #560b079e;
}

.carousel-content {
  padding: 1% 5% 0% 5%;
  background-color: #560b079e;
  height: 151px;
  font-size: 18px;
  line-height: 21px;
  word-spacing: initial;
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-next {
  top: 85% !important;
  right: -45px;
}

.carousel-control-prev {
  top: 85% !important;
  left:-16px;
}


.name-card {
  margin: 5% 0% 0% 40%;
  padding: 5.8% 0% 5.8% 0%;
  color: #f7e7c9;
  background-color: #560b079e;
  overflow: hidden;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  line-height: 35px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
}

.profile-pic {
/*profile picture*/
  width: 60%;
  opacity: .9;
  margin: 2% 0% 6.4% 0%;
}

.profil-pic:hover{
  border-radius: 45%;
  transition-property: border-radius;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.linkedin-icon{
/*linkedin social icon*/
  width: 33%;
  margin-top: 2%;
  margin-right: 2%;
}

.github-icon{
/*github social icon*/
  width: 45%;
  float: right;
  margin-right: -1%;
}

.tagline {
  font-family: "Lucida Console", Monaco, monospace;
  word-spacing: -3px;font-family: "Lucida Console", Monaco, monospace;
}

.middle-container-1 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% 0% 5% 1%;
  float: left;
  border-style: solid;
}

.middle-container-2 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% auto 5% 4.5%;
  float: left;
  border-style: solid;
}

.middle-container-3 {
  border-radius: 5px;
  background-color: #3d535ac2;
  width: 30%;
  border-width: 4px;
  border-color: #0000006b;
  height: 437px;
  text-align: center;
  padding: 2%;
  margin: 5% 10px 5% auto;
  float: right;
  border-style: solid;
}

.middle-pannel-1 .middle-pannel-2 .middle-pannel-3 {
  height: 400px;
}

.middle-container-1 .middle-pannel-1 img,
.middle-container-2 .middle-pannel-2 img,
.middle-container-3 .middle-pannel-3 img {
  margin-top: 6%;
  width: 100%;
}
.middle-container-1 .middle-pannel-1 p,
.middle-container-2 .middle-pannel-2 p,
.middle-container-3 .middle-pannel-3 p {
  text-align: justify;
  padding: 0% 5% 0% 5%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #f7e7c9;;
}

.col-sm-4 .middle-col img {
  margin-top:30%;
}

.bottom-container {
  width: 100%;
  background-color: #560b079e;
  color: #f7e7c947;
  box-shadow: 0px 0px 20px 10px;
  text-align: center;
  margin: 4% 0% 8% 0%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: groove;
  border-bottom-style: groove;
  border-color: #0000007a;
}

.bottom-left-block {
  padding: 3% 0% 3% 0%;
  width: 43%;
  margin-left: 55px;
}

.bottom-right-block {
  padding: 3% 0% 3% 0%;
  width: 43%;
  margin-right: 40px;
  float: right;
}

/*
.row .divider [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
*/

.bottom-left-block img {

}

.bottom-right-block img{

}

.bottom-hr {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  height: 299px;
  margin-top: 4%;

}

.footer-container {
  width: 87.5%;
  background-color: #0000008c;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #f7e7c9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 6%;
}

.footer-image {
  margin: 0% -20% 0% 28px;
  padding: 5%;
}

.footer-image img {
  margin: 5% 0% 0% 15%
}

.footer-image h3 {
   color: #ffffff;
   background-color: #560b079e;
   padding: 5% 1% 5% 1%;
   width: 65%;
   border-color: #101010;
   border-style: solid;
   text-align: center;
   font-size: 22px;
   font-family: "Lucida Console", Monaco, monospace;
 }

.contact-section {
  padding: 5%;
  margin: 0% -20% 5% 10%;
  text-align: justify;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #f7e7c9;
}

.contact-section h3 {
  color: #ffffff;
  background-color: #560b079e;
  padding: 5% 1% 5% 1%;
  width: 65%;
  border-color: #101010;
  border-style: solid;
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 50%;
}

.contact-section ol, ul {
  float: right;
}
